/* DEFINITION DES TAILLES D'ECRANS */
/* TAILLE DES COLONNES */
*
{
    box-sizing: border-box;
}

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
button
{
    margin: 0;
    padding: 0;
}

body
{
    -webkit-overflow-scrolling: touch;
}

li
{
    display: inline-block;
}

a
{
    text-decoration: none;

    color: #fff;
}

input,
button
{
    border: none;
    background: none;
}
input:focus,
button:focus
{
    outline: 0;
}

/************************

Copyright Loris MARINO

************************/
.container
{
    margin: 0 auto;
}

.container-fluid
{
    padding: 0 2rem;
}

.row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

[class^='xs-'],
[class^='s-'],
[class^='m-'],
[class^='l-'],
[class^='xl-']
{
    padding: 0 15px;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}

.xs-1
{
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
}

.xs-2
{
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
}

.xs-3
{
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.xs-4
{
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}

.xs-5
{
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
}

.xs-6
{
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.xs-7
{
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
}

.xs-8
{
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
}

.xs-9
{
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}

.xs-10
{
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
}

.xs-11
{
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
}

.xs-12
{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.start-xs
{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.center-xs
{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.end-xs
{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.top-xs
{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.middle-xs
{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom-xs
{
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.around-xs
{
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.between-xs
{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.textLeft-xs
{
    text-align: left;
}

.textCenter-xs
{
    text-align: center;
}

.textRight-xs
{
    text-align: right;
}

.hidden-xs
{
    display: none;
}

.visible-xs
{
    display: block;
}

.xs-offset-1
{
    margin-left: 8.33333%;
}

.xs-offset-2
{
    margin-left: 16.66667%;
}

.xs-offset-3
{
    margin-left: 25%;
}

.xs-offset-4
{
    margin-left: 33.33333%;
}

.xs-offset-5
{
    margin-left: 41.66667%;
}

.xs-offset-6
{
    margin-left: 50%;
}

.xs-offset-7
{
    margin-left: 58.33333%;
}

.xs-offset-8
{
    margin-left: 66.66667%;
}

.xs-offset-9
{
    margin-left: 75%;
}

.xs-offset-10
{
    margin-left: 83.33333%;
}

.xs-offset-11
{
    margin-left: 91.66667%;
}

.xs-offset-12
{
    margin-left: 100%;
}

@media screen and (min-width: 576px)
{
    .container
    {
        width: 540px;
    }
    .s-1
    {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .s-2
    {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .s-3
    {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .s-4
    {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .s-5
    {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .s-6
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .s-7
    {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .s-8
    {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .s-9
    {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .s-10
    {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .s-11
    {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .s-12
    {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .start-s
    {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .center-s
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-s
    {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .top-s
    {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .middle-s
    {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .bottom-s
    {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .around-s
    {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-s
    {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .textLeft-s
    {
        text-align: left;
    }
    .textCenter-s
    {
        text-align: center;
    }
    .textRight-s
    {
        text-align: right;
    }
    .hidden-s
    {
        display: none;
    }
    .visible-s
    {
        display: block;
    }
    .s-offset-1
    {
        margin-left: 8.33333%;
    }
    .s-offset-2
    {
        margin-left: 16.66667%;
    }
    .s-offset-3
    {
        margin-left: 25%;
    }
    .s-offset-4
    {
        margin-left: 33.33333%;
    }
    .s-offset-5
    {
        margin-left: 41.66667%;
    }
    .s-offset-6
    {
        margin-left: 50%;
    }
    .s-offset-7
    {
        margin-left: 58.33333%;
    }
    .s-offset-8
    {
        margin-left: 66.66667%;
    }
    .s-offset-9
    {
        margin-left: 75%;
    }
    .s-offset-10
    {
        margin-left: 83.33333%;
    }
    .s-offset-11
    {
        margin-left: 91.66667%;
    }
    .s-offset-12
    {
        margin-left: 100%;
    }
}

@media screen and (min-width: 768px)
{
    .container
    {
        width: 720px;
    }
    .m-1
    {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .m-2
    {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .m-3
    {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .m-4
    {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .m-5
    {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .m-6
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .m-7
    {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .m-8
    {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .m-9
    {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .m-10
    {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .m-11
    {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .m-12
    {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .start-m
    {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .center-m
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-m
    {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .top-m
    {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .middle-m
    {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .bottom-m
    {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .around-m
    {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-m
    {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .textLeft-m
    {
        text-align: left;
    }
    .textCenter-m
    {
        text-align: center;
    }
    .textRight-m
    {
        text-align: right;
    }
    .hidden-m
    {
        display: none;
    }
    .visible-m
    {
        display: block;
    }
    .m-offset-1
    {
        margin-left: 8.33333%;
    }
    .m-offset-2
    {
        margin-left: 16.66667%;
    }
    .m-offset-3
    {
        margin-left: 25%;
    }
    .m-offset-4
    {
        margin-left: 33.33333%;
    }
    .m-offset-5
    {
        margin-left: 41.66667%;
    }
    .m-offset-6
    {
        margin-left: 50%;
    }
    .m-offset-7
    {
        margin-left: 58.33333%;
    }
    .m-offset-8
    {
        margin-left: 66.66667%;
    }
    .m-offset-9
    {
        margin-left: 75%;
    }
    .m-offset-10
    {
        margin-left: 83.33333%;
    }
    .m-offset-11
    {
        margin-left: 91.66667%;
    }
    .m-offset-12
    {
        margin-left: 100%;
    }
}

@media screen and (min-width: 992px)
{
    .container
    {
        width: 960px;
    }
    .l-1
    {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .l-2
    {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .l-3
    {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .l-4
    {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .l-5
    {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .l-6
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .l-7
    {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .l-8
    {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .l-9
    {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .l-10
    {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .l-11
    {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .l-12
    {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .start-l
    {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .center-l
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-l
    {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .top-l
    {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .middle-l
    {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .bottom-l
    {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .around-l
    {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-l
    {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .textLeft-l
    {
        text-align: left;
    }
    .textCenter-l
    {
        text-align: center;
    }
    .textRight-l
    {
        text-align: right;
    }
    .hidden-l
    {
        display: none;
    }
    .visible-l
    {
        display: block;
    }
    .l-offset-1
    {
        margin-left: 8.33333%;
    }
    .l-offset-2
    {
        margin-left: 16.66667%;
    }
    .l-offset-3
    {
        margin-left: 25%;
    }
    .l-offset-4
    {
        margin-left: 33.33333%;
    }
    .l-offset-5
    {
        margin-left: 41.66667%;
    }
    .l-offset-6
    {
        margin-left: 50%;
    }
    .l-offset-7
    {
        margin-left: 58.33333%;
    }
    .l-offset-8
    {
        margin-left: 66.66667%;
    }
    .l-offset-9
    {
        margin-left: 75%;
    }
    .l-offset-10
    {
        margin-left: 83.33333%;
    }
    .l-offset-11
    {
        margin-left: 91.66667%;
    }
    .l-offset-12
    {
        margin-left: 100%;
    }
}

@media screen and (min-width: 1200px)
{
    .container
    {
        width: 1140px;
    }
    .xl-1
    {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    }
    .xl-2
    {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    .xl-3
    {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .xl-4
    {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .xl-5
    {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .xl-6
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .xl-7
    {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .xl-8
    {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
    .xl-9
    {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .xl-10
    {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    }
    .xl-11
    {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    }
    .xl-12
    {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .start-xl
    {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .center-xl
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-xl
    {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .top-xl
    {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .middle-xl
    {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .bottom-xl
    {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .around-xl
    {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-xl
    {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .textLeft-xl
    {
        text-align: left;
    }
    .textCenter-xl
    {
        text-align: center;
    }
    .textRight-xl
    {
        text-align: right;
    }
    .hidden-xl
    {
        display: none;
    }
    .visible-xs
    {
        display: block;
    }
    .xl-offset-1
    {
        margin-left: 8.33333%;
    }
    .xl-offset-2
    {
        margin-left: 16.66667%;
    }
    .xl-offset-3
    {
        margin-left: 25%;
    }
    .xl-offset-4
    {
        margin-left: 33.33333%;
    }
    .xl-offset-5
    {
        margin-left: 41.66667%;
    }
    .xl-offset-6
    {
        margin-left: 50%;
    }
    .xl-offset-7
    {
        margin-left: 58.33333%;
    }
    .xl-offset-8
    {
        margin-left: 66.66667%;
    }
    .xl-offset-9
    {
        margin-left: 75%;
    }
    .xl-offset-10
    {
        margin-left: 83.33333%;
    }
    .xl-offset-11
    {
        margin-left: 91.66667%;
    }
    .xl-offset-12
    {
        margin-left: 100%;
    }
}

/***************

     HEADER

***************/
header
{
    position: absolute;
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 30vh;

    -webkit-transition: .5s;
            transition: .5s;

    background: url(../images/header.png);
    background-position: center;
    background-size: auto 100%;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
header .logo
{
    margin: 0 auto;
}
header .logo img
{
    width: 270px;
}
header .logo img.anim
{
    -webkit-animation: logo 1.5s;
            animation: logo 1.5s;
}

.social
{
    position: absolute;
    z-index: 2;
    right: 10px;
}
.social a
{
    display: block;
}
.social img
{
    display: block;

    width: 35px;
    padding: 5px 0;
}
@media screen and (min-width: 992px)
{
    .social img
    {
        width: auto;
    }
}
.social .mute
{
    cursor: pointer;
}

/*****************

** Website **

*****************/
/**************

BASES

**************/
body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    min-height: 100vh;

    color: #000; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.content
{
    margin-top: 30vh;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/****************

CONTENT

****************/
.banner
{
    text-align: center;

    background: #ca6924;
}
.banner .row
{
    height: 100px;
}
.banner .row a
{
    font-family: 'Pacifico', cursive;
    font-size: 2em;

    display: block;

    margin: 0 auto;
    padding: 0 40px;

    -webkit-transition: padding .3s;
            transition: padding .3s;
    text-align: center;

    border: 5px solid #fff;
}
.banner .row a:hover
{
    padding: 10px 50px;

    color: #eee;
    border: 5px solid #eee;
}

.story
{
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;

    text-align: center;
}
.story p
{
    line-height: 20px;
}

.rules
{
    margin-top: 40px;

    text-align: center;
}
.rules span
{
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;

    padding: 5px 40px;

    color: #fff;
    background: #ca6924;
}

.infosMole
{
    margin-top: 40px;
}
.infosMole .blocInfo
{
    margin: 30px 0;
}
.infosMole .blocInfo img
{
    height: 80px;
}
.infosMole .blocInfo h3
{
    padding-bottom: 5px;
}
.infosMole .blocInfo p
{
    margin: 0;
}

/*****************

    ** Game **

*****************/
.greenBackground
{
    position: absolute;
    top: 30vh;

    width: 100%;
    height: 40vh;

    background: url(../images/green.png);
    background-position: center;
    background-size: auto 100%;
}

.contentGame
{
    position: absolute;
    top: calc(50vh - 25vh);

    width: 100%;
}
.contentGame .row
{
    height: 100%;
}
.contentGame .row .game
{
    position: relative;

    width: 50vh;
    height: 50vh;
    padding: 0;

    cursor: url('../images/hammer.png'), pointer;
}
.contentGame .row .game .row
{
    background: url(../images/green.png);
    background-position: center;
    background-size: auto 100%;
}
.contentGame .row .game .board
{
    position: absolute;
    z-index: 3;
}
.contentGame .row .game .boardTop
{
    top: -45px;
    right: -45px;
    left: -45px;

    height: 50px;

    background: url(../images/board.png);
    background-size: 100% 100%;
}
.contentGame .row .game .boardRight
{
    z-index: 4;
    top: -45px;
    right: -40px;
    bottom: -45px;

    width: 50px;

    background: url(../images/boardV.png);
    background-size: 100% 100%;
}
.contentGame .row .game .boardBottom
{
    right: -45px;
    bottom: -35px;
    left: -45px;

    height: 50px;

    background: url(../images/board.png);
    background-size: 100% 100%;
}
.contentGame .row .game .boardLeft
{
    z-index: 4;
    top: -45px;
    bottom: -45px;
    left: -40px;

    width: 50px;

    background: url(../images/boardV.png);
    background-size: 100% 100%;
}
.contentGame .row .game .xs-4
{
    z-index: 2;

    padding: 0;
}
.contentGame .row .game .xs-4 .case
{
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;

    background-image: url(../images/grass.png);
    background-size: contain;
}
.contentGame .row .game .xs-4 .case .mole
{
    position: absolute;
    top: calc(50% - 40%);
    left: calc(50% - 40%);

    width: 80%;
    height: 80%;
}
.contentGame .xs-12
{
    z-index: 2;
}
.contentGame .score
{
    font-size: 1.5em;

    z-index: 3;

    width: 100%;
    height: 50vh;

    background-image: url(../images/sign.png);
    background-size: 100% 100%;
}
.contentGame .score .resetButton
{
    font-family: 'Pacifico', cursive;
    font-size: 1em;

    padding: 5px 20px;

    cursor: pointer;

    border: 1px solid #89401d;
}
.contentGame .score .resetButton:hover
{
    cursor: pointer;

    color: #eee;
    border: 1px solid #eee;
}

/***************

FOOTER

***************/
.footer
{
    margin-top: 40px;
    padding: 20px 0;

    text-align: center;

    background: #ca6924;
}

/************************

    ** Footer game **

************************/
.footerGame
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 30vh;

    text-align: center;

    background: url('../images/footer.png');
    background-size: 100% 100%;
}
.footerGame .houseOfMole
{
    position: absolute;
    bottom: 0;
    left: calc(50% - 12.5vh);

    width: 25vh;
    height: 25vh;

    background: url(../images/house.png);
    background-size: 100% 100%;
}

@-webkit-keyframes logo
{
    from
    {
        width: 0;
    }
    to
    {
        width: 270px;
    }
}

@keyframes logo
{
    from
    {
        width: 0;
    }
    to
    {
        width: 270px;
    }
}
