/* DEFINITION DES TAILLES D'ECRANS */

$xs: 576px; // < 576px
$s: 576px; // >= 576px
$m: 768px; // >= 768px
$l: 992px; // >= 992px
$xl: 1200px; // >= 1200px

/* TAILLE DES COLONNES */

$w1: (100% / 12)  * 1;
$w2: (100% / 12)  * 2;
$w3: (100% / 12)  * 3;
$w4: (100% / 12)  * 4;
$w5: (100% / 12)  * 5;
$w6: (100% / 12)  * 6;
$w7: (100% / 12)  * 7;
$w8: (100% / 12)  * 8;
$w9: (100% / 12)  * 9;
$w10: (100% / 12)  * 10;
$w11: (100% / 12)  * 11;
$w12: (100% / 12)  * 12;
$white: #FFFFFF;
$black: #000000;
$orange: #CA6924;
