body {
	background-color: beige;
	margin: 0;
	padding: 0;
}

.canvas{
	width: 1000px;
	height: 900px;
	/* cursor: url('../images/Marteau_TFH.png'), pointer; */
	position: relative;
	border: 3px;
}

.contener{
	width: 400px;
	padding: 0;
	float: right;
}
#bestscore{
	top: 100px;
	position: absolute;
	color: aqua;
	font-size: 100px;
}

#compt{
	position: relative;
}

.reset{
	display: none;
}
#score{
	font-family: sans-serif;
	font-weight: 900;
	position: absolute;
	z-index: -100;
	top: 50vh;
	margin-top: -100px;
	font-size: 200px;
	text-align: center;
	width: 100vw;
	opacity: .5;
}

.case{
	border:1px solid red;
	width:100px;
	height: 100px;
	display:inline-block;
}